$primary: #0B334E;
$secondary:#FF6544;
$success:#FF8F77;
$info:#FFCEC4;
$glow-effect:#76DEF3;
$dark:#29332F;
$bg-page:#FFF5F3;
$bg-overlay:rgba(0, 0, 0, 0.7098);
$transparent:rgba(255, 255, 255, 0);

$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;


$small-size: 14px;
$accent-text-size: 18px;
$box-small-size: 16px;
$body-text-size: 20px;
$box-title-size: 22px;
$special-size: 30px;
$box-big-size: 34px;
$big-size: 36px;
$hero-headline-size: 96Px;
$accent-text-style: italic;



@import "~bootstrap/scss/bootstrap.scss";


@mixin responsiveFont($baseSize) {
  font-size: $baseSize;
  @media (max-width: 768px) {
    font-size: $baseSize * 0.8;
  }
  @media (max-width: 576px) {
    font-size: $baseSize * 0.6;
  }
}

body {
  background-color: $bg-page;
  font-family: $primary-font;
  font-size: $body-text-size;
}
/*
.main-container{
  padding: "5% 5%",
}*/


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $primary;
  font-weight: bold;
}


.hero-title {
  font-family: $secondary-font;
  @include responsiveFont($hero-headline-size);
}

.hero-paragraph {
  font-family: $secondary-font;
  font-size: $box-small-size;
  @media (max-width: 576px) {
    font-size: $box-small-size * 0.8;
  }
}

.custom-button {
  font-size: $box-small-size;
  border-radius: 0px 20px 20px; 
  padding: 10px 28px;
}

